* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  transition: all 1ms ease-in-out;
}
body {
  background: #eee;
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  padding: 0.5rem;
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 5px 0px rgba(170, 170, 170, 1);
}
.navbar .brand {
  color: #fff;
}
.navbar .links ul {
  display: flex;
  list-style-type: none;
}
ul li {
  padding: 3px 1px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 2px;
  text-transform: uppercase;
}
ul li a:hover {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Image Gallery CSS*/

/* Slideshow container */
.slideshow-container {
  width: 100px;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Containers img {
  width: 100px;
  height: 70px;
}
/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
/*End*/
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 0.3rem;
  margin-bottom: 5rem;
}
.card-container {
  margin: 4.5rem auto;
  width: 300px;
  height: 200px;
  background: linear-gradient(45deg, rgb(31, 150, 114), 50%, #295691);
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 0;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 2px 2px 0 #ccc;
  transition-duration: 0.5s;
  box-shadow: 0px 1px 5px 0px rgba(170, 170, 170, 1);
}

.card-container .card {
  padding: 15px;
  position: relative;
  background: rgb(255, 255, 255);
  width: 300.1px;
  top: 200px;
  text-transform: capitalize;
  border-top: 0ch;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0px 1px 5px 0px rgba(170, 170, 170, 1);
}

.card .content {
  width: 270px;
  margin: 0 auto;
}

.card .content h4 {
  color: chartreuse;
  text-transform: uppercase;
  padding: 2px 3px;
}
.card .content p {
  padding: 2px 3px;
  color: green;
}
.card .content a {
  color: #295691;
  margin-top: 1rem;
  padding: 3px 4px;
  text-decoration: none;
}

.news-letter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(210, 221, 228, 0.2);
  padding: 2rem;
  margin-bottom: 0;
}
.news-letter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.news-letter h3 {
  padding: 5px 0;
  color: #ff416c;
  font-size: 2rem;
}
.news-letter p {
  color: #295691;
  padding: 4px 0;
  font-size: 1.1rem;
}
.news-letter input {
  padding: 5px 1rem;
  margin: 5px 0;
  width: 220px;
  border: rgba(76, 76, 180, 0.5) 1px solid;
  border-radius: 0.2rem;
}
.news-letter input:focus {
  outline: none;
  border: #ff416c 1px solid;
}
.news-letter .btn {
  color: #fff;
  width: 100px;
  margin-top: 0.3rem;
  padding: 6px 1rem;
  border: none;
  border-radius: 0.2rem;
  background: linear-gradient(45deg, rgb(31, 150, 114), 50%, #295691);
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  cursor: pointer;
}
.btn:hover {
  opacity: 1;
}
footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.footer-wrapper {
  display: flex;
  padding: 5px;
}
footer .copyright {
  color: #ff416c;
  padding: 5px;
  text-align: center;
}
footer .copyright span {
  font-style: italic;
  text-transform: capitalize;
}
.footer-wrapper .contact {
  font-variant: small-caps;
}
.footer-wrapper .contact li {
  color: #000;
}
.footer-wrapper .contact li img {
  color: #fff;
  width: 15px;
  margin-right: 1px;
}
.footer-wrapper .terms a {
  color: #ff416c;
  text-decoration: none;
}
.footer-wrapper h3 {
  color: red;
  color: #ff416c;
}

.footer-wrapper ul {
  padding: 1rem 0 0 0;
  list-style-type: none;
  color: #ddd;
}

.footer-wrapper ul li {
  padding: 5px 0;
}

/* Media Query*/

@media screen and (max-width: 375px) {
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .navbar ul li {
    font-size: 1rem;
    margin: auto;
  }
  .card-container {
    margin: 3rem auto;
  }
  .news-letter-wrapper {
    margin-bottom: 0;
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 414px) {
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .navbar ul li {
    font-size: 1rem;
    margin: auto;
    color: var(--light);
  }
  .card-container {
    margin: 4.5rem auto;
  }

  .news-letter-wrapper {
    margin-bottom: 0;
    margin-top: 4.5rem;
  }
  }
